<section class="sidebar-list">
<ul>
{% for i in site.data.titles %}
  <li><a class="js-trigger" href="#">{{i.title}}</a>
    {% if i.subtitles %}
      <ul>
        {% for j in i.subtitles %}
          <li><a class="js-trigger" href="#">{{j.title}}</a>
          {% if j.subtitles %}
            <ul>
              {% for k in j.subtitles %}
                <li><a class="js-trigger" href="#">{{k.title}}</a>
                {% if k.subtitles %}
                  <ul>
                  {% for m in k.subtitles %}
                    <li><a class="js-trigger" href="#">{{m.title}}</a>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
{% endfor %}
</ul>
</section>
<!--   <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

    </ul>

  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a class="js-trigger" href="#">Level Three</a>
            <ul>
              <li><a class="js-trigger" href="#">Level Four</a>
                <ul>
                  <li><a href="#">Level Five</a></li>
                  <li><a href="#">Level Five</a></li>
                  <li><a href="#">Level Five</a></li>
                  <li><a href="#">Level Five</a></li>
                </ul>
              </li>
              <li><a href="#">Level Four</a></li>
              <li><a href="#">Level Four</a></li>
              <li><a href="#">Level Four</a></li>
            </ul>
          </li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

    </ul>

  </li>
  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>
</ul>
</section> -->