<section class="sidebar-list">
<ul>
  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

    </ul>

  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

      <li><a class="js-trigger" href="#">Level Two</a>
        <ul>
          <li><a class="js-trigger" href="#">Level Three</a>
            <ul>
              <li><a class="js-trigger" href="#">Level Four</a>
                <ul>
                  <li><a href="#">Level Five</a></li>
                  <li><a href="#">Level Five</a></li>
                  <li><a href="#">Level Five</a></li>
                  <li><a href="#">Level Five</a></li>
                </ul>
              </li>
              <li><a href="#">Level Four</a></li>
              <li><a href="#">Level Four</a></li>
              <li><a href="#">Level Four</a></li>
            </ul>
          </li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
          <li><a href="#">Level Three</a></li>
        </ul>
      </li>

    </ul>

  </li>
  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>

  <li><a class="js-trigger" href="#">Level One</a>
    <ul>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
      <li><a href="#">Level Two</a></li>
    </ul>
  </li>
</ul>
</section>